# Ignore datasets and model artifacts
data/
artifacts/
model/


img.tar
input.json
payload.json
container.json

# Python cache / temp files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
.venv/
env/
venv/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS junk
.DS_Store